<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Boxes

      <%= link_to new_box_path, class: "btn btn-lg btn-outline-secondary" do %>
        <i class="fas fa-plus fa-fw"></i>
      <% end %>
    </h1>
  </div>
</div>

<!-- Table example -->

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Box no.
            </th>

            <th>
              House
            </th>

            <th>
              Description
            </th>

            <th>
              Destination
            </th>

            <th>
              Items
            </th>

            <th>

            </th>
          </tr>
        </thead>

        <tbody>
          <%= render collection: @boxes.order(:id), partial: "table_row", as: :box %>
        </tbody>
      </table>
    </div>
  </div>
</div>
