/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "boxes";

@include media-breakpoint-up(lg) {
  #button-grid {
    width: 50%
  }
}

#button-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

#unassigned {
  grid-area: span 1 / span 12;
}


#position_1 {
  grid-column: span 6;
  grid-row: span 3;
}

#position_2 {
  grid-column: span 6;
  grid-row: 6 / span 4;
}

#position_3 {
  grid-column: span 6;
  grid-row: span 3;
}

#position_4 {
  grid-column: 7 / span 6;
  grid-row: 2 / span 4;
}

#position_5 {
  grid-column: 7 / span 6;
  grid-row: 6 / span 3;
}

#position_6 {
  grid-column: 8 / span 5;
  grid-row: 9 / span 1;
}

#position_7 {
  grid-column: 8 / span 5;
  grid-row: 10 / span 3;
}

#position_8 {
  grid-column: 8 / span 5;
  grid-row: 13 / span 1;
}
